.image {
  width: 720px;
  height: 500px;
  background-image: url("../../assets/images/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 320px;
    height: 200px;
  }
}
