.image {
  width: 720px;
  height: 500px;
  background-image: url("../../assets/images/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
}
.popup-text {
  background-color: rgba(255, 34, 144, 0.8);
  width: 150px;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: -80px;
  margin-left: -80px;
  font-family: roboto;
  font-weight: 600;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.103);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
}
@media only screen and (max-width: 600px) {
  .image {
    width: 320px;
    height: 200px;
  }
  .popup-text {
    width: 100px;
    margin-bottom: -50px;
    margin-left: -1px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .popup-text {
    margin-left: -20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .image {
    width: 420px;
    height: 300px;
  }
}
