.homeView {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right {
  margin: 20px 30px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .homeView {
    flex-direction: column;
  }
}
