.projectsView {
  height: 90vh;
}

.projectsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
}
