@font-face {
  font-family: "ReenieBeanie-Regular";
  src: local("ReenieBeanie-Regular"),
    url("./assets/fonts/ReenieBeanie-Regular.woff2") format("woff2");
}

nav {
  text-align: right;
  padding: 20px;
  font-size: 44px;
  font-family: ReenieBeanie-Regular;
}

nav a {
  text-decoration: none;
  color: black;
}
